:root {
    --text: #444444;
    --textwhite: #FFFFFF;
    --mainblue: #007FC3;
    --back: #F2FCFF;
    --change: 0.5s ease-in-out;
}

body {
    background: var(--back);
    font-family: "メイリオ", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", sans-serif;
    color: var(--text);
    font-size: 16px;
    width: 100%;
    height: 100%;
    animation: fade 2s ease-in-out 1s backwards;
}

ul,
ol {
    list-style: none;
    margin-top: auto;
    margin-bottom: auto;
}

a {
    color: var(--textwhite);
    text-decoration: none;
}

a:hover,
a.selected {
    text-shadow: #000 1px 1px 2px;
}

h1,
h2 {
    text-align: center;
    color: var(--text);
    margin-bottom: 32px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 32px;
}

p {
    font-size: 16px;
    color: #000;
}


/* ヘッダー */

.header {
    width: 100vw;
    height: 100vh;
    padding: 40px;
}

.burger-wrapper {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0px;
    padding: 8px 16px 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--back);
    z-index: 100;
    border-bottom: 2px solid var(--mainblue);
}

.noscroll .burger-wrapper {
    background-color: var(--mainblue);
    opacity: 0.7;
}

.noscroll .burger-wrapper h1 {
    color: var(--textwhite);
}

.burger-wrapper h1 {
    display: inline-block;
    color: var(--text);
    z-index: 5;
    font-size: 16px;
    font-weight: bold;
    text-align: justify;
    line-height: 1;
}

.burger-btn {
    position: fixed;
    right: 16px;
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 110;
    background-color: var(--back);
    border: none;
    flex-direction: column;
}

.bar {
    background-color: var(--text);
    display: block;
    width: 24px;
    height: 2px;
    border-radius: 3px;
    position: absolute;
    transition: var(--change);
}

.fade {
    display: none;
}

.close {
    opacity: 1;
    z-index: 120;
}

.close .bar {
    background-color: var(--text);
    width: 32px;
}

.bar_top {
    top: 0;
    right: 0;
}

.close .bar_top {
    top: 8px;
    transform: rotate(45deg);
}

.bar_mid {
    top: 8px;
    right: 0;
}

.close .bar_mid {
    display: none;
}

.bar_bottom {
    top: 16px;
    right: 0;
}

.close .bar_bottom {
    top: 8px;
    transform: rotate(-45deg);
}

#header-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
}

.gap {
    position: absolute;
    top: 30px;
    height: 16px;
    width: 100%;
    background-color: var(--back);
}

.profileimg {
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.noscroll {
    overflow: hidden;
}

.nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    color: #fff;
    font-weight: bold;
    font-size: 32px;
    transition: var(--change);
    padding: 50% 0 50% 25%;
}

.noscroll .nav-wrapper {
    background-color: var(--mainblue);
    opacity: 0.7;
    z-index: 55;
}

.nav-wrapper li {
    margin-bottom: 16px;
}

.nav-wrapper i {
    margin-right: 8px;
}


/* 年表 */

.first {
    border-radius: 16px 16px 0 0;
}

.last {
    border-radius: 0 0 16px 16px;
}

.container .title {
    float: left;
    color: #000;
    line-height: 40px;
    height: 40px;
    display: block;
}

.timeline__container,
.skill__container,
.work__container {
    clear: left;
    margin: 64px;
    padding: 32px;
    width: 80%;
}

.timeline__container {
    background-color: #fff;
    border-radius: 16px;
    border: 1px solid #e6e6e6;
    box-shadow: 0 2px 6px rgb(0 0 0 / 15%);
    border-radius: 16px;
}

.thumbnail p {
    text-align: left;
    width: 80%;
    padding: 8px;
    margin: auto;
}


/*  bhoechie tab */

div.bhoechie-tab-container {
    z-index: 10;
    background-color: #ffffff;
    padding: 0 !important;
    border-radius: 4px;
    -moz-border-radius: 4px;
    border: 1px solid #ddd;
    margin-top: 20px;
    margin-left: 50px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    background-clip: padding-box;
    opacity: 0.97;
    filter: alpha(opacity=97);
}

div.bhoechie-tab-menu {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}

div.bhoechie-tab-menu div.list-group {
    margin-bottom: 0;
}

div.bhoechie-tab-menu div.list-group>a {
    margin-bottom: 0;
    text-align: center;
    padding: 8px;
}

div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
    color: var(--mainblue);
}

div.bhoechie-tab-menu div.list-group>a:first-child {
    border-top-right-radius: 0;
    -moz-border-top-right-radius: 0;
}

div.bhoechie-tab-menu div.list-group>a:last-child {
    border-bottom-right-radius: 0;
    -moz-border-bottom-right-radius: 0;
}

div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa {
    background-color: var(--mainblue);
    background-image: var(--mainblue);
    color: #ffffff;
}

div.bhoechie-tab-menu div.list-group>a.active:after {
    content: '';
    position: absolute;
    left: 100%;
    top: 50%;
    margin-top: -13px;
    border-left: 0;
    border-bottom: 13px solid transparent;
    border-top: 13px solid transparent;
    border-left: 10px solid var(--mainblue);
}

div.bhoechie-tab-content {
    background-color: #ffffff;
    /* border: 1px solid #eeeeee; */
    padding-left: 20px;
    padding-top: 10px;
    vertical-align: middle;
    margin: 24px 16px;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active) {
    display: none;
}

div.bhoechie-tab-content h2,
div.bhoechie-tab-content h3 {
    margin-top: 32px;
}

.carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
}


/* The controlsy */

.carousel-control {
    left: -12px;
    height: 40px;
    width: 40px;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    margin-top: 90px;
}

.carousel-control.right {
    right: -12px;
}


/* The indicators */

.carousel-indicators {
    right: 50%;
    top: auto;
    bottom: -10px;
    margin-right: -19px;
}


/* The colour of the indicators */

.carousel-indicators li {
    background: #cecece;
}

.carousel-indicators .active {
    background: #428bca;
}

.footer {
    background-color: var(--mainblue);
    padding: 16px;
    text-align: left;
}

.footer .footer-profile-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 16px;
}

.footer .footer-profile-wrapper img {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 16px;
}

.footer .footer-profile-wrapper p {
    color: var(--textwhite);
}

.footer ul {
    display: flex;
    flex-direction: column;
    text-align: justify;
    text-justify: inter-ideograph;
}

.footer .nav-link {
    text-decoration: underline;
    margin-bottom: 8px;
}

.nav-link i {
    width: 16px;
    margin-right: 16px;
}


/* PC */

@media only screen and (min-width: 1024px) {
    p {
        font-size: 24px;
    }
    .header h1 {
        font-size: 40px;
        top: -56px;
    }
    .gap {
        top: 68px;
        height: 32px;
        width: 100%;
        background-color: var(--back);
    }
    .burger-btn {
        width: 100px;
        height: 100px;
    }
    .bar {
        width: 100px;
    }
    .close .bar {
        width: 100px;
        right: 50px;
    }
    .bar_top {
        top: 16px;
    }
    .close .bar_top {
        top: 40px;
    }
    .bar_mid {
        top: 40px;
    }
    .bar_bottom {
        top: 64px;
        right: 0;
    }
    .close .bar_bottom {
        top: 40px;
    }
    .nav-link {
        margin: 32px;
    }
    .nav-link i {
        font-size: 32px;
        width: 32px;
        margin-right: 32px;
    }
    .nav-wrapper {
        padding: 25%;
    }
    .footer {
        padding: 32px;
    }
}


/* タブレット */

@media only screen and (max-width: 768px) {
    h1,
    h2,
    .nav-wrapper {
        font-size: 16px;
        margin-bottom: 16px;
    }
    .container {
        padding: 16px;
        width: 90%;
    }
    .timeline__container,
    .skill__container,
    .work__container {
        margin: auto;
        width: 100%;
        border-radius: 8px;
    }
    div.bhoechie-tab-container {
        margin: 0;
    }
    .bhoechie-tab-content.active h1 {
        font-size: 8em;
    }
}